@model IEnumerable<V1_BTL_CNPM.Models.taikhoan>
@{
    ViewBag.Title = "QLTaiKhoan";
}

<h2>Quản lý tài khoản</h2>





<p>
    @Html.ActionLink("Tạo mới", "create_taikhoan")
</p>
@RenderPage("../Shared/toptable.cshtml")



<tr>
    <th rowspan="1" colspan="1">Tài khoản</th>

    <th rowspan="1" colspan="1">Mật khẩu</th>

    <th rowspan="1" colspan="1">Quyền truy cập</th>

    <th rowspan="1" colspan="1">Mã tài khoản</th>

    <th rowspan="1" colspan="1">Chức năng</th>
</tr>

@foreach (var item in Model)
{
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TenTaiKhoan)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.MatKhau)

    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Quyen)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.MaTK)
    </td>

    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.MaTK }) |
        @Html.ActionLink("Details", "Details", new { id = item.MaTK }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.MaTK })
    </td>
</tr>
}

@RenderPage("../Shared/bottomtable.cshtml")


