@model IEnumerable<V1_BTL_CNPM.Models.kehoachgiangday>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DiaDiemDK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianDKBD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianDKKT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.giangvien.HoTenGV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mon.TenMon)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DiaDiemDK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGianDKBD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGianDKKT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.giangvien.HoTenGV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mon.TenMon)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaKHGD }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaKHGD }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaKHGD })
        </td>
    </tr>
}

</table>
