@model V1_BTL_CNPM.Models.mon

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Thông tin chi tiết môn học</h4>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            <b>Mã môn:</b> @Html.DisplayFor(model => model.MaMon)
        </dd>

        <dd>
            <b>Tên môn:</b> @Html.DisplayFor(model => model.TenMon)
        </dd>

        <dd>
            <b>Tên ngành:</b> @Html.DisplayFor(model => model.nganh.TenNganh)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Cập nhật", "Edit", new { id = Model.MaMon }) |
    @Html.ActionLink("Trở lại danh sách", "Index")
</p>
