@model IEnumerable<V1_BTL_CNPM.Models.mon>

@{
    ViewBag.Title = "Index";
}

<h4>Thông tin môn học</h4>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
@RenderPage("../Shared/toptable.cshtml")
<tr>
    <th rowspan="1" colspan="1">Mã môn</th>

    <th rowspan="1" colspan="1">Tên môn</th>

    <th rowspan="1" colspan="1">Mã ngành</th>

    <th rowspan="1" colspan="1">Chức năng</th>
</tr>


@foreach (var item in Model)
{
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MaMon)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TenMon)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.nganh.TenNganh)
    </td>
    <td>
        @Html.ActionLink("Cập nhật", "Edit", new { id = item.MaMon }) |
        @Html.ActionLink("Chi tiết", "Details", new { id = item.MaMon }) |
        @Html.ActionLink("Xóa", "Delete", new { id = item.MaMon })
    </td>
</tr>
}

@RenderPage("../Shared/bottomtable.cshtml")
