@model IEnumerable<V1_BTL_CNPM.Models.qlsv>
@{
    ViewBag.Title = "qlsv";
}


<h4>Thông tin sinh viên</h4>



<!--
<h2>ShowData</h2>
<div>
    <a href="/AddData/AddDataView">Nhap thong tin</a>
    <a href="/CMS/login">Dang xuat</a>
    <a href="../Link/Index">Tro lai</a>
</div>
<div>

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">Ma tai khoan</th>
                <th scope="col">Tai Khoan</th>
                <th scope="col">Mat Khau</th>
                <th scope="col">Email</th>
                <th scope="col">Ma giang vien</th>
                <th scope="col">Ten giang vien</th>
                <th scope="col">Dia chi</th>

            </tr>
        </thead>
        <tbody>
           @* @foreach (var item in Model)
            {
            <tr>
                <th scope="row">@item.MaTK</th>
                <td>@item.TenTaiKhoan</td>
                <td>@item.MatKhau</td>
                <td>@item.email</td>
                <td>@item.MaGV</td>
                <td>@item.HoTenGV</td>
                <td>@item.DiaChi</td>

            </tr>

            }*@


        </tbody>


    </table>
</div>
    -->


@RenderPage("../Shared/toptable.cshtml")

<thead>
    <tr role="row">
        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 58px;">Mã TK</th>

        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 68px;">Mã SV</th>
        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 67px;">Tên SV</th>
        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 67px;">Mã khoa</th>
        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 67px;">Ngày sinh</th>
        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 67px;">Địa chỉ</th>
        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 67px;">Số điện thoại</th>
        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 67px;">Email</th>
        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 67px;">Chức năng</th>

    </tr>
</thead>
<!--<tfoot>
    <tr>
        <th rowspan="1" colspan="1">Ma tai khoan</th>
        <th rowspan="1" colspan="1">Tai Khoan</th>
        <th rowspan="1" colspan="1">Mat Khau</th>
        <th rowspan="1" colspan="1">Email</th>
        <th rowspan="1" colspan="1">Ma giang vien</th>
        <th rowspan="1" colspan="1" >Ten giang vien</th>
        <th rowspan="1" colspan="1">Dia chi</th>

    </tr>
</tfoot>-->

<tbody>


    @foreach (var item in Model)
    {
    <tr>
        <th scope="row">@item.MaTK</th>
        <td>@item.MaSV</td>
        <td>@item.TenSV</td>
        <td>@item.MaKhoa</td>
        <td>@item.NgaySinh</td>
        <td>@item.DiaChi</td>

        <td>@item.SoDienThoai</td>

        <td>@item.Email</td>
        <td>
            @Html.ActionLink("Edit", "../sinhviens/Edit", new { id = item.MaTK }) |
            @Html.ActionLink("Details", "Details", new { id = item.MaTK }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MaTK })
        </td>

    </tr>



    }


</tbody>
@RenderPage("../Shared/bottomtable.cshtml")

