@model V1_BTL_CNPM.Models.Diem

@{
    ViewBag.Title = "Delete";
}

<h4>Xóa thông tin điểm sinh viên theo môn học</h4>
<hr />
<h5 style="color:red">Bạn có muốn xóa điểm sinh viên này không ?</h5>
<div>
    <dl class="dl-horizontal">
        <dd>
            <b>Tên sinh viên</b>: @Html.DisplayFor(model => model.sinhvien.TenSV)
        </dd>
        <dd>
            <b>Môn học</b>: @Html.DisplayFor(model => model.mon.TenMon)
        </dd>
        <dd>
            <b>Điểm</b>: @Html.DisplayFor(model => model.Diem1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa bản ghi" class="btn btn-success" /> |
            
        </div>
    }
<div>@Html.ActionLink("Trở lại danh sách", "Index")</div>
</div>
