@model V1_BTL_CNPM.Models.Diem

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Diem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Diem1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diem1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mon.TenMon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mon.TenMon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sinhvien.TenSV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sinhvien.TenSV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Cập nhật", "Edit", new { id = Model.MaSV, id2 = Model.MaMon }) |
    @Html.ActionLink("Trở lại danh sách", "Index")
</p>
