@model V1_BTL_CNPM.Models.Diem

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Thông tin chi tiết điểm sinh viên theo môn học</h4>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            <b>Tên sinh viên</b>: @Html.DisplayFor(model => model.sinhvien.TenSV)
        </dd>
        <dd>
            <b>Môn học</b>: @Html.DisplayFor(model => model.mon.TenMon)
        </dd>
        <dd>
            <b>Điểm</b>: @Html.DisplayFor(model => model.Diem1)
        </dd>





    </dl>
</div>
<p>
    @Html.ActionLink("Cập nhật", "Edit", new { id = Model.Diem1 }) |
    @Html.ActionLink("Trở lại danh sách", "Index")
</p>
