@model IEnumerable<V1_BTL_CNPM.Models.Diem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Diem1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mon.TenMon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sinhvien.TenSV)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Diem1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mon.TenMon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sinhvien.TenSV)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MaSV, id2 = item.MaMon }) |
            @Html.ActionLink("Details", "Details", new { id = item.MaSV, id2 = item.MaMon }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MaSV, id2 = item.MaMon })
        </td>
    </tr>
}

</table>
