
@model V1_BTL_CNPM.Models.taikhoan
@{ Layout = null; }


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Đăng nhập</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="img/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../asset/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../asset/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../asset/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../asset/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../asset/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../asset/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../asset/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../asset/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../../asset/css/util.css">
    <link rel="stylesheet" type="text/css" href="../../asset/css/main.css">
    <link rel="shortcut icon" href="../../asset/client/user/img/mango.ico" />

    <!--===============================================================================================-->
</head>

@using (Html.BeginForm("Login", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
{



@Html.AntiForgeryToken()

                <body>

                    <div class="limiter">
                        <div class="container-login100">
                            <div class="wrap-login100">
                                <form class="login100-form validate-form">
                                    <span class="login100-form-title p-b-24" style="font-size: 24px;">
                                        HỆ THỐNG ĐĂNG NHẬP
                                    </span>
                                    <span class="login100-form-title p-b-48">
                                        <i class="fa fa-user" style="font-size: 50px;"></i>
                                    </span>


                                    <div class="wrap-input100 validate-input form-group">

                                        @Html.TextBoxFor(m => m.TenTaiKhoan, new { @placeholder = "Tên đăng nhập", @type = "text", @class = "input100", @autofocus = "autofocus" })



                                    </div>
                                    @Html.ValidationMessageFor(model => model.TenTaiKhoan, "", new { @class = "text-danger", @style = "color: red" })



                                    <div class="wrap-input100 validate-input form-group" data-validate="Enter password">
                                        <span class="btn-show-pass">
                                            <i class="zmdi zmdi-eye"></i>
                                        </span>


                                        @Html.PasswordFor(m => m.MatKhau, new { @placeholder = "***********", @type = "password", @class = "input100", @autofocus = "autofocus" })


                                    </div>
                                    @Html.ValidationMessageFor(x => x.MatKhau, "", new { @class = "text-danger", @style = "color: red; font-size: 14px" })


                                    @*
        <div class="form-check">

            @Html.CheckBoxFor(x => x.CheckBox) Lưu mật khẩu

        </div>
                                    *@
                                    <div class="container-login100-form-btn">
                                        <div class="wrap-login100-form-btn">
                                            <div class="login100-form-bgbtn"></div>
                                            <button class="login100-form-btn">
                                                Login
                                            </button>
                                        </div>
                                    </div>


                                </form>
                            </div>
                        </div>
                    </div>


                    <div id="dropDownSelect1"></div>

                    <!--===============================================================================================-->
                    <script src="../../asset/vendor/jquery/jquery-3.2.1.min.js"></script>
                    <!--===============================================================================================-->
                    <script src="../../asset/vendor/animsition/js/animsition.min.js"></script>
                    <!--===============================================================================================-->
                    <script src="../../asset/vendor/bootstrap/js/popper.js"></script>
                    <script src="../../asset/vendor/bootstrap/js/bootstrap.min.js"></script>
                    <!--===============================================================================================-->
                    <script src="../../asset/vendor/select2/select2.min.js"></script>
                    <!--===============================================================================================-->
                    <script src="../../asset/vendor/daterangepicker/moment.min.js"></script>
                    <script src="../../asset/vendor/daterangepicker/daterangepicker.js"></script>
                    <!--===============================================================================================-->
                    <script src="../../asset/vendor/countdowntime/countdowntime.js"></script>
                    <!--===============================================================================================-->
                    <script src="../../asset/js/main.js"></script>

                </body>}
</html>



