@model IEnumerable<V1_BTL_CNPM.Models.khoa>

<style>
    .tk {
        width: 250px;
        box-sizing: border-box;
        border: 1px solid #ece6e6;
        border-radius: 5px;
        font-size: 14px;
        background-color: white;
        background-image: url('https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-256.png');
        background-size: 23px;
        background-position: 7px 7px;
        background-repeat: no-repeat;
        
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        height: 40px;
    }

        input[type=text]:focus {
            width: 40%;
        }


</style>
@using (Html.BeginForm("Search", "khoas", FormMethod.Get))

{

    <p>

        @*Nhập thông tin: @Html.TextBox("SearchString")  <input type="submit" value="Tìm kiếm" />*@

        <input type="text" name="SearchString" placeholder="Tìm kiếm thông tin..." id="SearchString" class="tk" >

    </p>

    /* <div id="dataTable_filter" class="dataTables_filter">bai-tap-bai-3-dien-tich-tam-giac
         <label>
             Search: @Html.TextBox("SearchString")
             <input type="submit" class="form-control form-control-sm" placeholder="......." aria-controls="dataTable" value="Tìm kiếm">
         </label>
     </div>*/

}
<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
@RenderPage("../Shared/toptable.cshtml")



<tr>
    <th rowspan="1" colspan="1">Mã khoa</th>

    <th rowspan="1" colspan="1">Tên khoa</th>

    <th rowspan="1" colspan="1">Chức năng</th>
</tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaKhoa)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.TenKhoa)


        </td>
        <td>
            @Html.ActionLink("Cập nhật", "Edit", new { id = item.MaKhoa }) |
            @Html.ActionLink("Chi tiết", "Details", new { id = item.MaKhoa }) |
            @Html.ActionLink("Xóa", "Delete", new { id = item.MaKhoa })
        </td>
    </tr>
}

@RenderPage("../Shared/bottomtable.cshtml")

