
@model IEnumerable<V1_BTL_CNPM.Models.khoa>

<style>
    .tk {
        width: 250px;
        box-sizing: border-box;
        border: 2px solid #8f8f8f;
        border-radius: 4px;
        font-size: 14px;
        background-color: white;
        background-image: url('https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-256.png');
        background-size: 27px;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

    input[type=text]:focus {
        width: 50%;
    }
</style>

<p>


    <!-- 1. Đoạn cần thêm -->

    @using (Html.BeginForm("Search", "khoas", FormMethod.Get))

    {

    <p>

        @*Nhập thông tin: @Html.TextBox("SearchString")  <input type="submit" value="Tìm kiếm" />*@
        <input type="text" name="SearchString" placeholder="Tìm kiếm thông tin..." id="SearchString" class="tk">

    </p>
    /*
    <div id="dataTable_filter" class="dataTables_filter">
        <label>
            Search: @Html.TextBox("SearchString")
            <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable" value="Tìm kiếm">
        </label>
    </div>
    */
}

    <!-- Kết thúc -->
    </p>

    @RenderPage("../Shared/toptable.cshtml")



    <tr>
        <th rowspan="1" colspan="1">Mã khoa</th>

        <th rowspan="1" colspan="1">Tên khoa</th>

        <th rowspan="1" colspan="1">Chức năng</th>
    </tr>

    @foreach (var item in Model)

    {

        <tr>

            <td>

                @Html.DisplayFor(modelItem => item.MaKhoa)

            </td>

            <td>

                @Html.DisplayFor(modelItem => item.TenKhoa)

            </td>





            <td>

                @Html.ActionLink("Edit", "Edit", new { id = item.MaKhoa }) |

                @Html.ActionLink("Details", "Details", new { id = item.MaKhoa }) |

                @Html.ActionLink("Delete", "Delete", new { id = item.MaKhoa }) |

            </td>


        </tr>

    }

    @RenderPage("../Shared/bottomtable.cshtml")
    <div>
        @Html.ActionLink("Trở lại danh sách", "Khoa")
    </div>