@model V1_BTL_CNPM.Models.sinhvien

@{
    ViewBag.Title = "Details";
}


<div>
    <h4>Thông tin chi tiết sinh viên</h4>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            <b>Mã sinh viên</b>: @Html.DisplayFor(model => model.MaSV)
        </dd>

        <dd>
            <b>Tên sinh viên</b>: @Html.DisplayFor(model => model.TenSV)
        </dd>

        <dd>
            <b>Khoa</b>: @Html.DisplayFor(model => model.nganh.TenNganh)
        </dd>

        <dd>
            <b>Ngày sinh</b>: @Html.DisplayFor(model => model.NgaySinh)
        </dd>



        <dd>
            <b>Giới tính</b>: @Html.DisplayFor(model => model.GioiTinh)
        </dd>



        <dd>
            <b>Quê quán</b>: @Html.DisplayFor(model => model.QueQuan)
        </dd>

       
        <dd>
            <b>Số điện thoại</b>: @Html.DisplayFor(model => model.SoDienThoai)
        </dd>



        <dd>
            <b>Email</b>: @Html.DisplayFor(model => model.Email)
        </dd>




        <dd>
            <b>Hình ảnh</b>: @Html.DisplayFor(model => model.HinhAnh)
        </dd>




    </dl>
</div>
<p>
    @Html.ActionLink("Cập nhật", "Edit", new { id = Model.MaSV }) |
    @Html.ActionLink("Trở lại danh sách", "Index")
</p>
