@model V1_BTL_CNPM.Models.thoigianhoc

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Thông tin chi tiết thời gian học</h4>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            <b>Mã thời gian học</b>: @Html.DisplayFor(model => model.MaTGH)
        </dd>

        <dd>
            <b>Năm học</b>: @Html.DisplayFor(model => model.NamHoc)
        </dd>

        

        <dd>
            <b>Học kỳ</b>: @Html.DisplayFor(model => model.HocKy)
        </dd>

        

        <dd>
            <b>Giai đoạn</b>: @Html.DisplayFor(model => model.GiaiDoan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Cập nhật", "Edit", new { id = Model.MaTGH }) |
    @Html.ActionLink("Trở lại danh sách", "Index")
</p>
