@model V1_BTL_CNPM.Models.lopmonhoc

@{
    ViewBag.Title = "Details";
}


<div>
    <h4>Thông tin chi tiết lớp môn học</h4>
    <hr />
    <dl class="dl-horizontal">


        <dd>
            <b>Mã lớp theo môn học</b>: @Html.DisplayFor(model => model.MaLTM)
        </dd>

        <dd>
            <b>Tên lớp môn học</b>: @Html.DisplayFor(model => model.TenLopMon)
        </dd>

        <dd>
            <b>Tên môn học</b>: @Html.DisplayFor(model => model.mon.TenMon)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Cập nhật", "Edit", new { id = Model.MaLTM }) |
    @Html.ActionLink("Trở lại danh sách", "Index")
</p>
