@model IEnumerable<V1_BTL_CNPM.Models.lopmonhoc>

@{
    ViewBag.Title = "Index";
}

<h4>Thông tin lớp môn học</h4>

<style>
    .tk {
        width: 250px;
        box-sizing: border-box;
        border: 1px solid #ece6e6;
        border-radius: 5px;
        font-size: 14px;
        background-color: white;
        background-image: url('https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-256.png');
        background-size: 23px;
        background-position: 7px 7px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        height: 40px;
    }

    input[type=text]:focus {
        width: 40%;
    }
</style>
<p>

    @using (Html.BeginForm("Search", "lopmonhocs", FormMethod.Get))

    {

    <p>

        <input type="text" name="SearchString" placeholder="Tìm kiếm thông tin..." id="SearchString" class="tk">

    </p>


}


    <p>
        @Html.ActionLink("Tạo mới", "Create")
    </p>
    @RenderPage("../Shared/toptable.cshtml")
    <tr>

        <th rowspan="1" colspan="1">Mã lớp môn học</th>

        <th rowspan="1" colspan="1">Tên lớp môn học</th>

        <th rowspan="1" colspan="1">Môn học</th>

        <th rowspan="1" colspan="1">Chức năng</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaLTM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenLopMon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mon.TenMon)
            </td>
            <td>
                @Html.ActionLink("Cập nhật", "Edit", new { id = item.MaLTM }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.MaLTM }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.MaLTM })
            </td>
        </tr>
    }

    @RenderPage("../Shared/bottomtable.cshtml")
