@model IEnumerable<V1_BTL_CNPM.Models.lichtrinhthucte>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DiaDiemTT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianTTBD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianTTKT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.giangvien.HoTenGV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mon.TenMon)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DiaDiemTT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGianTTBD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGianTTKT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.giangvien.HoTenGV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mon.TenMon)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaLTTT }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaLTTT }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaLTTT })
        </td>
    </tr>
}

</table>
