@model IEnumerable<V1_BTL_CNPM.Models.lichtrinhthucte>

@{
    ViewBag.Title = "Index";
}

<h4>Thông tin lịch trình thực tế</h4>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
@RenderPage("../Shared/toptable.cshtml")
<tr>
    <th rowspan="1" colspan="1">Mã LT thực tế</th>

    <th rowspan="1" colspan="1">Bài học thực tế</th>

    <th rowspan="1" colspan="1">Địa điểm thực tế</th>

    <th rowspan="1" colspan="1">Thời gian bắt đầu</th>

    <th rowspan="1" colspan="1">Thời gian kết thúc</th>

    <th rowspan="1" colspan="1">Giảng viên phụ trách</th>

    <th rowspan="1" colspan="1">Chức năng</th>
</tr>


@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaLTTT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaiHocTT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaDiemTT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGianTTBD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGianTTKT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.giangvien.HoTenGV)
        </td>
        <td>
            @Html.ActionLink("Cập nhật", "Edit", new { id = item.MaLTTT }) |
            @Html.ActionLink("Chi tiết", "Details", new { id = item.MaLTTT }) |
            @Html.ActionLink("Xóa", "Delete", new { id = item.MaLTTT })
        </td>
    </tr>
}
@RenderPage("../Shared/bottomtable.cshtml")

