@model V1_BTL_CNPM.Models.nganh

@{
    ViewBag.Title = "Details";
}

<h4>Thông tin chi tiết ngành học</h4>

<div>

    <hr />
    <dl class="dl-horizontal">

        <dd>
            <b>Mã ngành</b>: @Html.DisplayFor(model => model.MaNganh)
        </dd>

        <dd>
            <b>Tên ngành</b>: @Html.DisplayFor(model => model.TenNganh)
        </dd>



        <dd>
            <b>Tên khoa</b>: @Html.DisplayFor(model => model.khoa.TenKhoa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Cập nhật", "Edit", new { id = Model.MaNganh }) |
    @Html.ActionLink("Trở lại danh sách", "Index")
</p>
