@model IEnumerable<V1_BTL_CNPM.Models.nganh>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
@RenderPage("../Shared/toptable.cshtml")
<tr>
    <th>
        Mã ngành
    </th>
    <th>
        Tên ngành
    </th>

    <th>
        Tên khoa
    </th>

    <th>Chức năng</th>
</tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaNganh)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.TenNganh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.khoa.TenKhoa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MaNganh }) |
            @Html.ActionLink("Details", "Details", new { id = item.MaNganh }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MaNganh })
        </td>
    </tr>
}

@RenderPage("../Shared/bottomtable.cshtml")
