
@model IEnumerable<V1_BTL_CNPM.Models.nganh>

<style>
    .tk {
        width: 250px;
        box-sizing: border-box;
        border: 2px solid #8f8f8f;
        border-radius: 4px;
        font-size: 14px;
        background-color: white;
        background-image: url('https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-256.png');
        background-size: 27px;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

    input[type=text]:focus {
        width: 50%;
    }
</style>

<p>


    <!-- 1. Đoạn cần thêm -->

    @using (Html.BeginForm("Search", "nganhs", FormMethod.Get))

    {

    <p>

        @*Nhập thông tin: @Html.TextBox("SearchString")  <input type="submit" value="Tìm kiếm" />*@
        <input type="text" name="SearchString" placeholder="Tìm kiếm thông tin..." id="SearchString" class="tk">

    </p>
    /*
    <div id="dataTable_filter" class="dataTables_filter">
        <label>
            Search: @Html.TextBox("SearchString")
            <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable" value="Tìm kiếm">
        </label>
    </div>
    */
}

    <!-- Kết thúc -->
    </p>

    @RenderPage("../Shared/toptable.cshtml")

    <tr>
        <th>
            Mã ngành
        </th>
        <th>
            Tên ngành
        </th>

        <th>
            Tên khoa
        </th>

        <th>Chức năng</th>
    </tr>

    @foreach (var item in Model)

    {

<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MaNganh)
    </td>


    <td>
        @Html.DisplayFor(modelItem => item.TenNganh)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.khoa.TenKhoa)
    </td>
    <td>
        @Html.ActionLink("Cập nhật", "Edit", new { id = item.MaNganh }) |
        @Html.ActionLink("Chi tiết", "Details", new { id = item.MaNganh }) |
        @Html.ActionLink("Xóa", "Delete", new { id = item.MaNganh })
    </td>
</tr>


    }

    @RenderPage("../Shared/bottomtable.cshtml")
    <div>
        @Html.ActionLink("Trở lại danh sách", "Index")
    </div>

