@model V1_BTL_CNPM.Models.lophocphan

@{
    ViewBag.Title = "Delete";
}

<h4>Xóa thông tin lớp học phần</h4>
<hr />
<h5 style="color:red">Bạn có muốn xóa lớp học phần này không ?</h5>
<div>
    <dl class="dl-horizontal">
        <dd>
            <b>Mã lớp học phần</b>: @Html.DisplayFor(model => model.MaLHP)
        </dd>

        <dd>
            <b>Tên lớp học phần</b>: @Html.DisplayFor(model => model.TenLopHP)
        </dd>

        <dd>
            <b>Mã thời gian học</b>: @Html.DisplayFor(model => model.MaTGH)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa bản ghi" class="btn btn-success" /> |
            
        </div>
    }
<div>@Html.ActionLink("Trở lại danh sách", "Index")</div>
</div>
