@model V1_BTL_CNPM.Models.lophocphan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>lophocphan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenLopHP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLopHP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thoigianhoc.NamHoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thoigianhoc.NamHoc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaLHP }) |
    @Html.ActionLink("Back to List", "Index")
</p>
